.app {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.app__data {
  height: fit-content;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}

.app__loading {
  height: 400px;
}

.spacer {
  margin: 16px auto;
}

.button {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  z-index: 1;
}

.button::after {
  content: "";
  background-color: #ffe54c;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button:hover::after {
  top: 0px;
  left: 0px;
}

.app__ls-item {
  text-align: start;
}

.ls-item__btns {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 44px;
  margin: 16px auto;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffe54c;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track-piece {
  border-radius: 10px;
  background-color: #ececec;
}